
body{
    flex: 1;
}
.father{flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
   background-image: url('./img/bgpage.jpeg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
    background-attachment: fixed;
}





