
@media screen and (max-width: 600px) {
    footer{
        background-color: black;
        color: #fff;
        width: 100%;
        text-align: center;
        
}
}

@media screen and (min-width: 601px) {

      footer {
    position: fixed;
    bottom: 5px;
    background-color: #000000a2;
    color: #fff;
    width: 80%;
    padding-top: 14px;
    border-radius: 30px;
    text-align: center;
  }
}

