header {
  width:100%;
    padding: 50px;
    background-color: #d49d8c;
    display: flex;
    justify-content: center;
  }
  header div{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
  .btn-ex{
    background-color: #1c2c4c;
    border-color: #1c2c4c;
    width: 50px;
    height: 50px;
    color: white;
    transition: linear  0.3s all;
  }
  .btn-ex:hover{
    background-color: #7c6494;
    border-color: #7c6494;
    transform: scale(1.3);
}
  
  