.activo{
  text-decoration: none;
}
.nav-button{
  text-decoration: none;
}

#button-open{
  color: #fff;
  visibility: hidden;
  background-color: #1c2c4cba;
    position: fixed;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-close{
  color: #fff;
  visibility: hidden;
  position: fixed;
  border: none;
  background-color: #1c2c4cba;
  display: flex;
  justify-content: center;
  align-items: center;
}
#float-nav{visibility: hidden;
  position: fixed;
  bottom: 80px;
  right: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: linear  0.3s all;
}

@media screen and (max-width: 600px) {
  #button-open { visibility: visible;
    width: 70px;
    height: 70px;
    bottom: 85px;
    right: 25px;
    border-radius: 35px;
    transition: linear  0.3s all;
  }
  #naveg {
    visibility: hidden;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color:#7c6494ef;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    transition: linear  0.3s all;
  }
  #btn-close {
   
    width: 50px;
    height: 50px;
    border-radius: 25px;
    right: 25px;
    bottom: 260px;
    transition: linear  0.3s all;
  }
  .boton {
    height: 50px;
    width: 200px;
    margin: 5px;
    text-decoration: none;
    color: #fff ;
  }
  .activo div {
    color: #d49d8c;
  }
}

@media screen and (min-width: 601px) {

  #naveg { 
    visibility: visible;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    background-color: #ecd3d9;
    text-decoration: none;
  }

  div .boton {
    width: 250px;
    margin-left: 5px;
    padding: 10px;
    background-color: #7c6494;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-size: large;
    transition: linear  0.3s all;
  }

  .boton:hover {
    transform: scale(1.3);
  }

  .activo div {
    background-color: #1c2c4c;
  }

}
