main{
   max-width: 960px;
    line-height: 30px;
}
.cont-main{flex: 1;
}
.allContent{
    width: 960px;
}
.text{
    color: rgb(255, 90, 90);
}
.text p{
  color: black;
  font-size: large;
}
.work-exp {
    color: black;
    font-size: large;
  }
  h3 {
    color:rgb(255, 90, 90) ;
    text-decoration: underline double rgb(255, 90, 90) 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cont{
    font-size: x-large;
    color: black;
    margin-top: 25px;
  }
  .item{
    text-decoration: none;
    color: rgb(255, 90, 90);
  }
  .tit{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }


/*estilo celular*/
@media screen and (max-width: 600px) {
    .yop{
        border-radius:180px 180px 40px 40px;
      }
      img{width: 100%;
        border-radius: 20px;
        margin-top: 10px;
      }
      main{
        padding-right: 20px;
        padding-bottom: 100px;
      }
      #cont-main{
        padding-bottom: 230px;
      }
}

  /*estilo pc*/
@media screen and (min-width: 601px){ 
  .yop{
    width: 250px;
    border-radius:180px 180px 40px 40px;
    margin: 10px;
  }
  .sobremi{
    display: flex;
    align-items: center;
  }
  img{
    width: 800px;
    margin: 10px;
    border-radius: 20px;
  }
}